<% provide(:login, "active") %>
<% provide(:title, "登入") %>

<div class="col-md-6 col-md-push-3">
  <center><h1>登入</h1></center>

	<%= simple_form_for(resource, as: resource_name, url: member_session_path) do |f| %>
	  <div  class="col-md-12">
	    <%= f.input :email, :label=>false, required: false, autofocus: true, placeholder: "sophia@example.com" %>
	    <%= f.input :password, :label=>false, required: false, autocomplete: "off", placeholder: "Password" %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

		  <div class="form-actions">
		    <%= f.button :submit, "登入", class: "btn btn-large btn-primary" %>
		  </div>
			<div>
				<%= render "members/shared/links" %>
			</div>
	<% end %>
</div>
