<% provide(:title, "Resend Confirmation") %>

<div class="col-md-6 col-md-push-3">
	<center><h2>Resend confirmation instructions</h2></center>

	<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= f.error_notification %>
	  <%= f.full_error :confirmation_token %>

	  <div class="form-inputs">
	    <%= f.input :email, :label=>false, required: true, autofocus: true, placeholder: "sophia@example.com" %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Resend confirmation instructions", class: "btn btn-large btn-primary" %>
	  </div>
	<% end %>

	<%= render "members/shared/links" %>
</div>